instaflow.json
[{"id":"dd5e4674.22a1b8","type":"websocket-listener","z":"a6b734d.f5948c8","path":"/ws/bildedata","wholemsg":"false"},{"id":"a16c31da.5e93d","type":"inject","z":"a6b734d.f5948c8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":138,"y":340,"wires":[["b2a06524.4d5f98"]]},{"id":"f5fc3b24.0a03c8","type":"debug","z":"a6b734d.f5948c8","name":"","active":true,"console":"false","complete":"false","x":502,"y":261,"wires":[]},{"id":"b2a06524.4d5f98","type":"instagram","z":"a6b734d.f5948c8","instagram":"","inputType":"like","outputType":"link","name":"","x":336,"y":339,"wires":[["f5fc3b24.0a03c8","85689eb2.7a976","ff092cf4.00f6d"]]},{"id":"85689eb2.7a976","type":"watson-visual-recognition","z":"a6b734d.f5948c8","name":"","x":362,"y":441,"wires":[["fa783a1f.0587c8","12362158.edc9df"]]},{"id":"fa783a1f.0587c8","type":"debug","z":"a6b734d.f5948c8","name":"","active":true,"console":"false","complete":"labels","x":707,"y":434,"wires":[]},{"id":"64df67fb.9b2098","type":"template","z":"a6b734d.f5948c8","name":"Bilde","field":"payload","format":"handlebars","template":"<html>\n<head>\n  <title>Instagram2Watson</title>\n</head>\n<body>\n  <div>\n      <img id=\"bilde\" src=\"\">\n  </div>\n  <div>\n      <img id=\"spinner\" src=\"http://telefongps.eu-gb.mybluemix.net/images/watson.gif\">\n      <p id=\"text\"></p>\n  </div>\n  <script type=\"text/javascript\">\n    var wsUri = \"ws://{{req.headers.host}}/ws/bildedata\";\n    var map;\n    var ws;\n     \n      ws = new WebSocket(wsUri);\n      ws.onopen = function(){ console.log(\"Connected websocket\");};\n      ws.onerror = function(){ console.log(\"Websocket error\"); };\n      ws.onmessage = function(evt){\n          console.log(\"Message recived!\", evt.data);\n          var str = evt.data;\n          \n          var n = str.search(/([http])/g); // her gjør jeg en test på om det er linken fra instagram eller scoring fra watson som kommer\n          console.log(\"n= \", n);\n        if (n<1){\n        \n        document.getElementById('bilde').src=(evt.data);\n        }\n        else{\n            var arr = JSON.parse(evt.data);\n            var ansvers = arr.length;\n            var x = arr.map( function(item) { \n                draw(item.label_name+\" - score: \"+item.label_score+'\\n'); \n                function draw(items){\n                    var svar = document.createTextNode(items);\n                    document.getElementById(\"text\").appendChild(svar);\n                        }\n                    });\n            document.getElementById('spinner').src=\"\";\n        }\n        \n      }\n  </script>\n</body>\n</html>","x":369,"y":619,"wires":[["1712c8ca.e8ed37"]]},{"id":"961f58d2.69e0a8","type":"http in","z":"a6b734d.f5948c8","name":"","url":"/bilde","method":"get","swaggerDoc":"","x":112,"y":493,"wires":[["64df67fb.9b2098","b2a06524.4d5f98"]]},{"id":"1712c8ca.e8ed37","type":"http response","z":"a6b734d.f5948c8","name":"","x":637,"y":618,"wires":[]},{"id":"ff092cf4.00f6d","type":"websocket out","z":"a6b734d.f5948c8","name":"","server":"dd5e4674.22a1b8","client":"","x":625,"y":340,"wires":[]},{"id":"12362158.edc9df","type":"function","z":"a6b734d.f5948c8","name":"Labels2payload","func":"msg.payload = msg.labels;\nreturn msg;","outputs":1,"noerr":0,"x":523,"y":535,"wires":[["ff092cf4.00f6d"]]}]
